<h1><center><font color='red'>INSEEPTION Project (part 2)</font></center></h1>

In [10]:
# Importation cell
import pandas as pd
import typing as t

In [29]:
df = pd.read_csv('test.csv',sep=',')
df = df.astype(str)
df.head()

C:\Users\nicolas\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,7,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

  DEPT DIPL_15 CS2 STOCD MODV ORIDT SEXE SURF TACT TRANS TYPL ANARR
0   99       A  82    22   40     0    1    7   25     Z    2     Z
1   99       A  73    22   40     0    2    7   21     Z    2     Z
2   68       A  76    10   50     0    2    7   21     Z    1     Z
3   57       B  66    21   31     0    1    5   11     4    2     Z
4   57       D  41    21   31     0    2    5   11     4    2     Z

In [12]:
df.head()

  DEPT DIPL_15 CS2 STOCD MODV ORIDT SEXE SURF TACT TRANS TYPL ANARR
0   99       A  82    22   40     0    1    7   25     Z    2     Z
1   99       A  73    22   40     0    2    7   21     Z    2     Z
2   68       A  76    10   50     0    2    7   21     Z    1     Z
3   57       B  66    21   31     0    1    5   11     4    2     Z
4   57       D  41    21   31     0    2    5   11     4    2     Z

<h2><font color='green'>Hypothesis</font></h2>
<ol>
    <li>In which county (DEPT) the subjects coming from DOM-TOM (ORIDT) are settled ? Does one of the counties has more subjects from DOM-TOM than others ?</li>
    <li>Is there a relation between the sex (SEXE) of the subject and its highest diploma (DIPL 15)?</li>
    <li>When the subject arrived in France (ANARR) is the age related to the socio-professional category of this subject (CS2)?</li>
    <li>Does the composition of the home (MODV) has an influence on the status of the subject about his house (STOCD)?</li>
    <li>Does the activity (TACT) of the subject is linked to the type of the house he is living in (TYPL)?</li>
    <li>Are the home’s surface area of the subject (SURF) and the most used mode of transportation to go to work by this subject (TRANS) related?</li>
</ol>

<h2><font color='green'>The Differents kind of scaling</font></h2>

<h3><center><font color='orange'>Nominal Scaling Algorithm :</font></center></h3>

A <b>Nominal Scale</b> is a measurement scale, in which numbers serve as “<i>tags</i>” or “<i>labels</i>” only, to identify or classify an object.<br> This measurement normally deals only with non-numeric (quantitative) variables or where numbers have no value.

In [13]:
def scaling_nominal(df: pd.DataFrame, column: str):
    # get all the unique values for the column
    uniques = df[column].unique()

    # copy the dataframe without the column we are replacing
    df_scaled = df[[c for c in df.columns if c!= column]].copy()

    for unique in uniques:
        df_scaled[f"{column}={unique}"] = df[column] == unique

    return df_scaled

<center><h3><font color='orange'>Ordinal Scaling Algorithm :</font></h3></center>


<b>Ordinal scale</b> is the 2nd level of measurement that reports the ranking and ordering of the data without actually establishing the degree of variation between them.<br> Ordinal level of measurement is the second of the four measurement scales.

“Ordinal” indicates “order”. Ordinal data is quantitative data which have naturally occurring orders and the difference between is unknown.

In [14]:
def scaling_ordinal(df: pd.DataFrame, column: str, order_list: t.List=None):
    # get all the unique values for the column
    uniques = df[column].unique()

    # copy the dataframe without the column we are replacing
    df_scaled = df[[c for c in df.columns if c!= column]].copy()

    for unique in uniques:
        if order_list:
            df_scaled[f"{column}<={unique}"] = df[column].apply(order_list.index) <= order_list.index(unique)
        else:
            df_scaled[f"{column}<={unique}"] = df[column] <= unique

    return df_scaled

<center><h3><font color='orange'>Interordinal Scaling Algorithm :</font></h3></center>
<b>Interordinal scales</b> are used in attributes that express different degrees.

In [15]:
def scaling_interordinal(df: pd.DataFrame, column: str, order_list=None):
    # get all the unique values for the column
    uniques = df[column].unique()

    # copy the dataframe without the column we are replacing
    df_scaled = df[[c for c in df.columns if c!= column]].copy()

    for unique in uniques:
        if order_list:
            df_scaled[f"{column}<={unique}"] = df[column].apply(order_list.index) <= order_list.index(unique)
            df_scaled[f"{column}>={unique}"] = df[column].apply(order_list.index) >= order_list.index(unique)
        else:
            df_scaled[f"{column}<={unique}"] = df[column] <= unique
            df_scaled[f"{column}>={unique}"] = df[column] >= unique

    return df_scaled

In [16]:
df_scal = df
#We apply the nominal scaling on all the variables
var = ['DEPT','DIPL_15','CS2','STOCD','MODV','SEXE','SURF','TACT','TRANS','TYPL','ANARR','ORIDT']

for v in var:
    df_scal = scaling_nominal(df_scal,v)
df_scal

,DEPT=99,DEPT=68,DEPT=57,DEPT=67,DEPT=54,DIPL_15=A,DIPL_15=B,DIPL_15=D,DIPL_15=Z,DIPL_15=C,...,ORIDT=14,ORIDT=13,ORIDT=11,ORIDT=12,ORIDT=21,ORIDT=16,ORIDT=18,ORIDT=17,ORIDT=19,ORIDT=15
0,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1474554,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1474555,True,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1474556,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1474557,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1474558,True,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h2><font color='green'>Extraction Rules</font></h2>

In [17]:
from csv import reader
from collections import defaultdict
from itertools import chain, combinations
from optparse import OptionParser
from apriori_python.utils import *

def apriori(itemSetList, minSup, minConf):
    C1ItemSet = getItemSetFromList(itemSetList)
    # Final result global frequent itemset
    globalFreqItemSet = dict()
    # Storing global itemset with support count
    globalItemSetWithSup = defaultdict(int)

    L1ItemSet = getAboveMinSup(
        C1ItemSet, itemSetList, minSup, globalItemSetWithSup)
    currentLSet = L1ItemSet
    k = 2

    # Calculating frequent item set
    while(currentLSet):
        # Storing frequent itemset
        globalFreqItemSet[k-1] = currentLSet
        # Self-joining Lk
        candidateSet = getUnion(currentLSet, k)
        # Perform subset testing and remove pruned supersets
        candidateSet = pruning(candidateSet, currentLSet, k-1)
        # Scanning itemSet for counting support
        currentLSet = getAboveMinSup(
            candidateSet, itemSetList, minSup, globalItemSetWithSup)
        k += 1

    rules = associationRule(globalFreqItemSet, globalItemSetWithSup, minConf)
    rules.sort(key=lambda x: x[2])

    return globalFreqItemSet, rules

<h2><font color='green'>Hypothesis checking </font></h2>
<center><h3><font color='orange'>In which county (DEPT) the subjects coming from DOM-TOM (ORIDT) are settled ? Does one of the counties has more subjects from DOM-TOM than others ?</font></h3></center>

In [35]:
hypothesis1 = df[['DEPT','ORIDT']]
hyp1 = hypothesis1.values.tolist()


freqItemSet, rules = apriori(hyp1, minSup=0.01, minConf=0.01)
print(rules)

[[{'0'}, {'54'}, 0.12703104543135577], [{'0'}, {'68'}, 0.14048267699488257], [{'0'}, {'57'}, 0.19167755422893862], [{'0'}, {'67'}, 0.21246078940916222], [{'0'}, {'99'}, 0.3283479339356608], [{'68'}, {'0'}, 0.9901417128773875], [{'99'}, {'0'}, 0.9921743760344394], [{'54'}, {'0'}, 0.9934517641780521], [{'67'}, {'0'}, 0.9937421337439226], [{'57'}, {'0'}, 0.9953011018472876]]

<center><h3><font color='orange'>Is there a relation between the sex (SEXE) of the subject and its highest diploma (DIPL 15)?</font></h3></center>

In [33]:
hypothesis2 = df[['SEXE','DIPL_15']]
hyp2 = hypothesis2.values.tolist()


freqItemSet, rules = apriori(hyp2, minSup=0.01, minConf=0.01)
print(rules)

[[{'1'}, {'C'}, 0.14603033829832474], [{'2'}, {'C'}, 0.15072523289196735], [{'2'}, {'Z'}, 0.15558776180189998], [{'1'}, {'Z'}, 0.1732128269116709], [{'2'}, {'B'}, 0.18054014350647044], [{'1'}, {'D'}, 0.20151719468660123], [{'2'}, {'D'}, 0.21456204989686542], [{'1'}, {'A'}, 0.23557504000716212], [{'1'}, {'B'}, 0.243664600096241], [{'2'}, {'A'}, 0.2985848119027968], [{'A'}, {'1'}, 0.4260886506071041], [{'B'}, {'2'}, 0.4405237952997177], [{'D'}, {'1'}, 0.4691573932045633], [{'C'}, {'1'}, 0.4769046629236582], [{'Z'}, {'2'}, 0.48837507179069756], [{'Z'}, {'1'}, 0.5116249282093024], [{'C'}, {'2'}, 0.5230953370763418], [{'D'}, {'2'}, 0.5308426067954367], [{'B'}, {'1'}, 0.5594762047002824], [{'A'}, {'2'}, 0.5739113493928959]]

<center><h3><font color='orange'>When the subject arrived in France (ANARR) is the age related to the socio-professional category of this subject (CS2)?</font></h3></center>

In [34]:
hypothesis3 = df[['ANARR','CS2']]
hyp3 = hypothesis3.values.tolist()

freqItemSet, rules = apriori(hyp3, minSup=0.01, minConf=0.01)
print(rules)

[[{'Z'}, {'72'}, 0.01309341364661076], [{'Z'}, {'47'}, 0.020705090603609307], [{'Z'}, {'32'}, 0.023635690565121995], [{'Z'}, {'55'}, 0.026632754555297684], [{'Z'}, {'54'}, 0.02947447819941218], [{'Z'}, {'56'}, 0.03008811120823103], [{'Z'}, {'36'}, 0.030166940637575516], [{'Z'}, {'46'}, 0.03612010822816947], [{'Z'}, {'66'}, 0.04233372207061726], [{'Z'}, {'41'}, 0.04945155583789887], [{'Z'}, {'51'}, 0.052116299684759566], [{'Z'}, {'73'}, 0.05612346234310432], [{'Z'}, {'61'}, 0.06972694876782647], [{'Z'}, {'76'}, 0.13482846484323377], [{'Z'}, {'82'}, 0.3223273538892663], [{'66'}, {'Z'}, 0.8074201821880251], [{'56'}, {'Z'}, 0.8221480761920852], [{'61'}, {'Z'}, 0.848301929369288], [{'76'}, {'Z'}, 0.8603405678102762], [{'32'}, {'Z'}, 0.8612018472628971], [{'82'}, {'Z'}, 0.8874811681292398], [{'51'}, {'Z'}, 0.8911839723004137], [{'72'}, {'Z'}, 0.8932356197606369], [{'55'}, {'Z'}, 0.8951606618697561], [{'36'}, {'Z'}, 0.8986141166720383], [{'54'}, {'Z'}, 0.8995235624321902], [{'46'}, {'Z'}, 0.9065639911549055], [{'47'}, {'Z'}, 0.9081694915254237], [{'73'}, {'Z'}, 0.9092616474889503], [{'41'}, {'Z'}, 0.9148057072598862]]

<center><h3><font color='orange'>Does the composition of the home (MODV) has an influence on the status of the subject about his house (STOCD)?</font></h3></center>

In [36]:
hypothesis4 = df[['MODV','STOCD']]
hyp4 = hypothesis4.values.tolist()

freqItemSet, rules = apriori(hyp4, minSup=0.01, minConf=0.01)
print(rules)

[[{'10'}, {'60'}, 0.021018943865109857], [{'10'}, {'31'}, 0.025220477117745683], [{'10'}, {'33'}, 0.02645349492883833], [{'10'}, {'12'}, 0.03647677691149087], [{'21'}, {'60'}, 0.04902116066903193], [{'21'}, {'33'}, 0.055210973137354284], [{'21'}, {'12'}, 0.08627407501267106], [{'22'}, {'33'}, 0.08662334833744736], [{'21'}, {'40'}, 0.09147871262037506], [{'40'}, {'22'}, 0.09560366134038395], [{'22'}, {'40'}, 0.09660592420502395], [{'40'}, {'21'}, 0.10374037245660421], [{'10'}, {'50'}, 0.10770360457219044], [{'21'}, {'31'}, 0.11001647237709072], [{'21'}, {'20'}, 0.1359161175874303], [{'21'}, {'50'}, 0.1379276482513938], [{'22'}, {'12'}, 0.14447146798315666], [{'22'}, {'50'}, 0.14687817627413968], [{'21'}, {'11'}, 0.15912316269640142], [{'11'}, {'21'}, 0.1660468667876516], [{'32'}, {'21'}, 0.16707588475773483], [{'32'}, {'22'}, 0.1718776458066233], [{'21'}, {'32'}, 0.1750316776482514], [{'20'}, {'23'}, 0.1822036996417343], [{'11'}, {'22'}, 0.19854421404416941], [{'22'}, {'32'}, 0.2063380281690141], [{'22'}, {'11'}, 0.21803034703063742], [{'50'}, {'22'}, 0.2285330215587599], [{'10'}, {'11'}, 0.23203290052403258], [{'50'}, {'21'}, 0.245923490971528], [{'10'}, {'32'}, 0.26406630227481764], [{'33'}, {'21'}, 0.2719117601173204], [{'10'}, {'40'}, 0.2736134188426173], [{'12'}, {'21'}, 0.2759343876961733], [{'12'}, {'10'}, 0.29493115571270806], [{'31'}, {'10'}, 0.30231614996395095], [{'33'}, {'10'}, 0.32935505007956567], [{'60'}, {'21'}, 0.35004184668280214], [{'33'}, {'22'}, 0.3722893069986583], [{'60'}, {'10'}, 0.37942500395847], [{'12'}, {'22'}, 0.4032279308213696], [{'50'}, {'10'}, 0.4854646401319394], [{'31'}, {'21'}, 0.5216594568613314], [{'23'}, {'20'}, 0.5219759120265317], [{'20'}, {'21'}, 0.5228485779045112], [{'11'}, {'10'}, 0.6121044437172126], [{'32'}, {'10'}, 0.637219090931082], [{'40'}, {'10'}, 0.7844112829060812], [{'ZZ'}, {'70'}, 1.0], [{'70'}, {'ZZ'}, 1.0]]

<center><h3><font color='orange'>Does the activity (TACT) of the subject is linked to the type of the house he is living in (TYPL)?</font></h3></center>

In [41]:
hypothesis5 = df[['TACT','TYPL']]
hyp5 = hypothesis5.values.tolist()

freqItemSet, rules = apriori(hyp5, minSup=0.15, minConf=0.15)
print(rules)

[[{'2'}, {'11'}, 0.3926476186909822], [{'1'}, {'11'}, 0.4122103038389076], [{'11'}, {'2'}, 0.42925543710021324], [{'11'}, {'1'}, 0.5575727078891258]]

<center><h3><font color='orange'>Are the home’s surface area of the subject (SURF) and the most used mode of transportation to go to work by this subject (TRANS) related?</font></h3></center>

In [38]:
hypothesis6 = df[['SURF','TRANS']]
hyp6 = hypothesis6.values.tolist()

freqItemSet, rules = apriori(hyp6, minSup=0.01, minConf=0.01)
print(rules)

[[{'Z'}, {'2'}, 0.027361489173885756], [{'4'}, {'2'}, 0.027715994747550717], [{'Z'}, {'1'}, 0.032151092345025965], [{'4'}, {'3'}, 0.06613408420734028], [{'Z'}, {'3'}, 0.08012655919428156], [{'4'}, {'6'}, 0.13633591216975377], [{'4'}, {'7'}, 0.17504903152233897], [{'Z'}, {'6'}, 0.17859256598990167], [{'4'}, {'5'}, 0.1826525480340767], [{'Z'}, {'7'}, 0.19343910513520196], [{'Z'}, {'4'}, 0.20388426636056167], [{'2'}, {'4'}, 0.2319906850577066], [{'Z'}, {'5'}, 0.256739959566396], [{'4'}, {'Z'}, 0.27857242219541983], [{'3'}, {'4'}, 0.2893052741388649], [{'5'}, {'4'}, 0.2915693638162727], [{'2'}, {'Z'}, 0.3129206438570003], [{'6'}, {'4'}, 0.3298421186939011], [{'7'}, {'4'}, 0.36725988691505157], [{'3'}, {'Z'}, 0.47891882493764254], [{'1'}, {'Z'}, 0.4888907791765907], [{'7'}, {'Z'}, 0.5545139367737756], [{'5'}, {'Z'}, 0.559969058303624], [{'6'}, {'Z'}, 0.5903555195585685]]